.BadgeDetails__hero {
  width: 100%;
  background: url('../../images/stars.svg'), #1B1B25;
  padding: 2rem 0;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #fff;
}

.BadgeDetails__hero h1{
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.BadgeDetails__hero-logo img {
  max-height: 130px;
}

.BadgeDetails__hero-attendant-name {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.actions h2{
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.btn {
  margin: 10px 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.10);
}
