.BadgeNew__hero {
  width: 100%;
  background: url('../../images/stars.svg'), #1B1B25;
  padding: 2rem 0;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #fff;

  display: flex;
  justify-content: center;
}

.BadgeNew__hero-image {
  max-height: 100px;
}