.Loader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #1a2f3b; /* Dark Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
