.PageError {
  background: url('../../images/stars.svg'), #1b1b25;
  width: 100%;
  min-height: calc(100vh - 60px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PageError-title {
  font-size: 100px;
}
